<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- META DATA -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <meta name="description" content="Treble theme - One Page Responsive Theme - Gridelicious.net">
    <title>THISGROUND</title>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/images/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="assets/images/ico/favicon.png">
                                   
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="assets/style/bootstrap-uncompressed.css" type="text/css" />
    
    <!-- GOOGLE WEB FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- NAVIGATION -->
    <nav class="fixed-top" id="navigation">
        <div class="container">
            <div class="row-fluid">
                <div class="span12 center">
                    <!-- LOGO -->
                    <a class="brand pull-left" href="./">
                        <img src="assets/images/logo.png" alt="Treble">
                    </a>
                    <!-- END LOGO -->

                    <!-- MOBILE MENU BUTTON -->
                    <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <!-- END MOBILE MENU BUTTON -->
                    
                    <!-- MAIN MENU -->
                    <ul id="main-menu" class="nav-collapse collapse">
                        <li><a href="#page-welcome">Home</a></li>
                        <li><a href="#page-work">Future Users</a></li>
                        <li><a href="#page-features">Features</a></li>
                        <li><a href="#page-about">About</a></li>
                        <!--<li><a href="#page-blog">Blog</a></li>-->
                        <li><a href="#page-contact">Contact</a></li>
                    </ul>
                    <!-- END MAIN MENU -->
                    
                    <!-- SOCIAL ICONS -->
                    <div class="social-icons hover-big pull-right">
                        <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                        <a href="#" class="sicon-instagram"><i>Instagram</i></a>
                        <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                        <a href="#" class="sicon-tumblr"><i>Tumblr</i></a>
                    </div>
                    <!-- END SOCIAL ICONS -->
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAVIGATION -->
    
    <!-- PAGE | WELCOME -->
    <div class="pages white paralax page-welcome" id="page-welcome">
        <div class="overlay"></div>
        <!-- Centralized content -->
        <div class="centralized">
            <div class="container">
                <div class="row-fluid">
                    <div class="span12 center">
                        <!-- Animated logo -->
                        <div class="logo">
                            <div class="scrollNormal">
                                <a href="#page-work">
                                    <img src="assets/images/pages/welcome/logo_welcome.png" width="140" height="140" alt="Treble">
                                </a>
                            </div>
                            <div class="scrollDown">
                                <a href="#page-work">
                                    <img src="assets/images/pages/welcome/logo2_welcome.png" width="140" height="140" alt="Treble">
                                </a>
                            </div> 
                        </div>
                        
                        <div class="line-divider" id="welcome-messages">
                            <ul class="slides">
                                <li>
                                    <h1>Hello THISGROUND</h1>
                                </li>
                                <li>
                                    <h1>Fresh & Cool</h1>
                                </li>
                                <li>
                                    <h1>Creative & Fun</h1>
                                </li>
                            </ul>
                        </div>
                        <p>Every Creativity in THISGROUND</p>
                        <div class="social-icons sicon-white bordered">
                            <a href="https://www.facebook.com/pages/THISGROUND/306451286160039" class="sicon-facebook"><i>Facebook</i></a>
                            <a href="#" class="sicon-instagram"><i>Instagram</i></a>
                            <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                            <a href="#" class="sicon-tumblr"><i>Tumblr</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE | Welcome -->
   
    <!-- PAGE | WORK -->
    <div class="pages page-work" id="page-work">
        <div class="container">
            <!-- Header -->
            <header>
                <h4 class="line-divider">Future Users</h4>
                <h1>Inspirational work</h1>
                <!-- Short desciption about Work in general -->
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                          THISGROUND's website is currently under construction and will be open on June.<br>
                          Many artists around the world already have agreed to join THISGROUND.
                        </p>
                    </div>
                </div>
                    
                <!-- Sub menu -->
                <!-- 
                Params: 
                    plugin-filter: Defines links for filtering.
                -->
                <nav class="submenu">
                    <ul>
                        <li>
                            <a href="#" class="plugin-filter active" data-filter="all">All</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="fineart">FineArt</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="photography">Photography</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="video">Video</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="fashion">Fashion</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <!-- End Header -->
                
            <!-- Article -->
            <article>
                <!-- Portfolio items
                    Params: 
                        plugin-filter-elements: Defines items for filtering, each item has class which defines filter value.
                        portfolio-items: Customise portfolio items for hover effect.
                -->
                <ul class="thumbnails plugin-filter-elements portfolio-items">
                    <li class="span4 mix fineart">
                        <a href="#pages/portfolio/project_1.html" data-destination="portfolio-items" data-insert="before">
                            <!-- Portfolio image -->
                            <img src="assets/images/pages/work/01_th.jpg" alt="Treble">
                            
                            <!-- Portfolio name, activated on hover -->
                            <div class="portfolio-overlay">
                                <h4>Stacks of you</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix fineart">
                        <a href="#pages/portfolio/project_2.html" data-destination="portfolio-items" data-insert="before">
                            <img src="assets/images/pages/work/02_th.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>120731_130730</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix fineart">
                        <a href="#pages/portfolio/project_3.html" data-destination="portfolio-items" data-insert="before">
                            <img src="assets/images/pages/work/03_th.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>WHEN WE LOSE OUR LANGUAGE</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix fineart">
                        <a href="#pages/portfolio/project_4.html" data-destination="portfolio-items" data-insert="before">
                            <img src="assets/images/pages/work/04_th.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>Excretions</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix photography">
                        <a href="#pages/portfolio/project_5.html" data-destination="portfolio-items" data-insert="before">
                            <img src="assets/images/pages/work/05_th.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>Urban Pattern</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix video">
                        <a href="#pages/portfolio/project_6.html" data-destination="portfolio-items" data-insert="before">
                            <img src="assets/images/pages/work/06_th.jpg" alt="Treble">
                            <div class="portfolio-overlay">
                                <h4>Copenhagers: RETRO BOBBY</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </article>
            <!-- End Article -->
            
            <!-- Footer -->
            <!--<footer>-->
                <!--<div class="show-more-cube">-->
                     <!--<a href="#pages/portfolio/readmore.html" data-destination="plugin-filter-elements" data-insert="appendTo" data-action="remove">-->
                        <!--<span>Show<br/>More</span>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</footer>-->
            <!-- End footer -->
        </div>
    </div>
    <!-- END PAGE | WORK -->

    <!-- PAGE | FEATURES  -->
    <div class="pages white paralax page-features" id="page-features">
        <div class="overlay"></div>
        <div class="container">
             <!-- Header -->
            <header>
                <h4 class="line-divider">Features</h4>                
                <h1>What's Inside</h1>
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                          THISGROUND is a social network service that allows users to share their creative activities.
                        </p>
                    </div>
                </div>
            </header>
             <!-- End Header -->
             
             <!-- Article -->
            <article>
                <!-- Features blocks -->
                <div class="row-fluid">
                    <div class="span4 center">
                        <img src="assets/images/pages/features/what.png" alt="THISGROUND">
                        <h5>UPLOAD</h5>
                        <p class="smallFontBy08 cutBy10">Users can easily upload their work through the import and export features.</p>
                    </div>
                    <div class="span4 center">
                        <img src="assets/images/pages/features/what2.png" alt="Treble">
                        <h5>SHARE</h5>
                        <p class="smallFontBy08 cutBy10">All contents can be shared <br>regardless of their genre.</p>
                    </div>
                    <div class="span4 center">
                        <img src="assets/images/pages/features/what3.png" alt="Treble">
                        <h5>NETWORK</h5>
                        <p class="smallFontBy08 cutBy10">Artists all over the world can communicate with one another in one space.</p>
                    </div>
                </div>
                <!-- Testemonials -->
                <div class="row-fluid">
                    <div class="span8 offset2">
                        <div class="quote center">
                            <div id="quote-slider" class="slide">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item">
                                        I'm currently using Vimeo, Behance, Soundcloud and two other sites. I believe that the Import and Export features can make these sites easier to use.
                                        <h5>Video artist in NY 26</h5>
                                    </div>
                                    <div class="item">
                                      I'm always thrilled to meet hot artists. They are not easy to find, however, THISGROUND makes that process a whole lot easier. And of course, I enjoy the fact that I could participate in this extraordinary project.
                                        <h5>Musician in London 21</h5>
                                    </div>
                                    <div class="item">
                                      Surfing on my PC is a huge part of my life. While others check their facebook or read the news, I browse the web hoping to find art contents. I believe that THISGROUND alone will provide more than enough from now on.
                                        <h5>Hot guy in Tokyo 31</h5>
                                    </div>
                                </div>
                                <!-- Carousel indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#quote-slider" data-slide-to="0" class="active"></li>
                                    <li data-target="#quote-slider" data-slide-to="1"></li>
                                    <li data-target="#quote-slider" data-slide-to="2"></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- End Article -->
        </div>
    </div>
    <!-- END PAGE | FEATURES -->

    <!-- PAGE | ABOUT -->
    <div class="pages page-about" id="page-about">
        <div class="container">
            <!-- Header -->
            <header>
                <h4 class="line-divider">About</h4>
                <h1>Meet The Team</h1>
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                          THISGROUND team currently consists of two planners, two developers and two designers.<br>
                          We aim to provide a more creative foothold for users all around the world.
                        </p>
                    </div>
                </div>
            </header>
            <!-- End Header -->
            
            <!-- Article -->
            <article>
                <!-- List of people and description with their contact details which are visable on hover -->
                <ul class="thumbnails about-items">
                    <li class="span4 center">
                         <div class="item">
                            <!-- Team member image -->
                            <img class="img-circle" src="assets/images/pages/about/sh.png" alt="Treble">
                            
                            <!-- Team memeber details, activated on hover -->
                            <div class="about-overlay img-circle">
                                <div class="social-icons sicon-white">
                                    <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                    <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                    <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                    <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                                    <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Team member name and function -->
                        <h5>
                          Seunghwan Lee<br/>
                            <small>Co-founder</small>
                        </h5>
                        
                        <!-- Team member short info -->
                        <p class="smallFontBy08">hwan.lee@thisground.com</p>
                    </li>
                    <li class="span4 center">
                        <div class="item">
                            <img class="img-circle" src="assets/images/pages/about/sol.png" alt="Treble">
                            <div class="about-overlay img-circle">
                                <div class="social-icons sicon-white">
                                    <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                    <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                    <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                    <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                                    <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                                </div>
                            </div>
                        </div>
                        
                        <h5>
                          Hansol Jang<br/>
                            <small>Co-founder</small>
                        </h5>
                        <p class="smallFontBy08">hansol.jang@thisground.com</p>
                    </li>
                    <li class="span4 center">
                        <div class="item">
                            <img class="img-circle" src="assets/images/pages/about/80xer.png" alt="Treble">
                            <div class="about-overlay img-circle">
                                <div class="social-icons sicon-white">
                                    <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                    <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                    <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                    <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                                    <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                                </div>
                            </div>
                        </div>
                        
                        <h5>
                          Dongeun Lee<br/>
                            <small>Developer</small>
                        </h5>
                        <p class="smallFontBy08">80xer.s@gmail.com</p>
                    </li>
                    <li class="span4 center">
                        <div class="item">
                            <img class="img-circle" src="assets/images/pages/about/yuri.png" alt="Treble">
                            <div class="about-overlay img-circle">
                                <div class="social-icons sicon-white">
                                    <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                    <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                    <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                    <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                                    <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                                </div>
                            </div>
                        </div>
                        
                        <h5>
                          Yoori Kim<br/>
                          <small>Marketer</small>
                        </h5>
                      <p class="smallFontBy08">yoorikim@thisground.com</p>
                    </li>
                    <li class="span4 center">
                         <div class="item">
                            <img class="img-circle" src="assets/images/pages/about/locker.png" alt="Treble">
                            <div class="about-overlay img-circle">
                                <div class="social-icons sicon-white">
                                    <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                    <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                    <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                    <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                                    <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                                </div>
                            </div>
                        </div>
                        
                        <h5>
                          Minji Goh<br/>
                          <small>Designer</small>
                        </h5>
                      <p class="smallFontBy08">gohminji@thisground.com</p>
                    </li>
                    <li class="span4 center">
                         <div class="item">
                            <img class="img-circle" src="assets/images/pages/about/rich.png" alt="Treble">
                            <div class="about-overlay img-circle">
                                <div class="social-icons sicon-white">
                                    <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                                    <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                                    <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                                    <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                                    <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                                </div>
                            </div>
                        </div>
                        
                        <h5>
                          Surichi Jung<br/>
                          <small>Developer</small>
                        </h5>
                      <p class="smallFontBy08">picometer@gmail.com</p>
                    </li>
                </ul>
            </article>
            <!-- End Article -->
        </div>
    </div>
    <!-- END PAGE | ABOUT -->
    
    <!-- PAGE | TWITTER -->
    <div class="pages white paralax page-twitter" id="page-twitter">
        <!-- Page overlay -->
        <div class="overlay"></div>
        
        <!-- Block content -->
        <div class="container">
             <div class="row-fluid">
               <div class="span8 offset2">
                 <div class="twitter center">
                   <div id="twitter-slider" class="slide">
                     <!-- Carousel items -->
                     <div class="carousel-inner">
                       <div class="active item">
                         Everyone can create new and innovative works.
                       </div>
                       <div class="item">
                         From now on, many more people can express their creativeness.
                       </div>
                       <div class="item">
                         This world can positively change through many people's creative activities.
                       </div>
                     </div>
                     <!-- Carousel indicators -->
                     <ol class="carousel-indicators">
                       <li data-target="#twitter-slider" data-slide-to="0" class="active"></li>
                       <li data-target="#twitter-slider" data-slide-to="1"></li>
                       <li data-target="#twitter-slider" data-slide-to="2"></li>
                     </ol>
                   </div>
                 </div>
               </div>
            </div>
        </div>
        
    </div>
    <!-- END PAGE | TWITTER -->

    <!-- PAGE | CONTACT -->
    <div class="pages black-bg white page-contact" id="page-contact">
        <div class="container">
            <!-- Header -->
            <header>
                <h4 class="line-divider">Contact</h4>
                <h1>Say hello!</h1>
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                          We welcome whoever that wants to be a part of our family.
                          For those of you who are willing to use our services in the near future, please do not hesitate and contact us.
                          we'll respond as soon as possible
                        </p>
                    </div>
                </div>
            </header>
            <!-- End Header -->
            
            <!-- Start Article -->
            <article>
                <div class="row-fluid">
                    <!-- Contact form -->
                    <div class="span6">
                        <h5>Drop Us A Line</h5>
                        <form method="post" action="sendEmail">
                            <input id="emailSubject" name="emailSubject" type="text" class="span12" placeholder="Title" required="required">
                            <input id="emailFrom" name="emailFrom" type="email" class="span12" placeholder="Email" required="required">
                            <textarea id="emailBody" name="emailBody" rows="10" class="span12" required="required"></textarea>
                            <button id="emailSubmit" type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <!-- End Contact form -->
                    <!-- Contact information -->
                    <div class="span5 offset1">
                        <h5>Meet Us</h5>
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-phone"><i>Phone</i></a>
                            </div> 
                            <div class="media-body smallFontBy08">
                              +82) 10-7165-9998
                            </div>
                        </div>
                        <!--<div class="media">-->
                            <!--<div class="social-icons sicon-white pull-left">-->
                                <!--<a href="#" class="sicon-place"><i>Location</i></a>-->
                            <!--</div> -->
                            <!--<div class="media-body smallFontBy08">-->
                                <!--1095 Columbus Ave., San Francisco, CA 94133-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-mail"><i>email</i></a>
                            </div> 
                            <div class="media-body smallFontBy08">
                              mainoffice@thisground.com
                            </div>
                        </div>
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-clock"><i>Time zone</i></a>
                            </div> 
                            <div class="media-body smallFontBy08">
                                UTC / GMT +9
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <h5>Get social</h5>
                        <div class="social-icons sicon-white bordered">
                            <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                            <a href="#" class="sicon-instagram"><i>Instagram</i></a>
                            <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                            <a href="#" class="sicon-tumblr"><i>Tumblr</i></a>
                        </div>
                    </div>
                    <!-- End Contact information -->
                </div>
            </article>
            <!-- End Article -->
            
        </div>
        
        <!-- Background map image -->
        <div id="map-image">
            <img src="assets/images/pages/contact/map_bck.jpg" alt="Treble">
        </div>
    </div>
    <!-- END PAGE | CONTACT -->
    
    
    <!-- JQUERY -->
    <script src="assets/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    
    
    <!-- TWITTER BOOTSTRAP -->
    <script src="assets/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
        <script src="assets/js/bootstrap/html5shiv.js"></script>
    <![endif]-->
    
    
    <!-- PLUGINS -->
    <script src="assets/js/plugins/jquery.bxslider.min.js" type="text/javascript"></script>
    <script src="assets/js/plugins/jquery.centralized.min.js" type="text/javascript"></script>
    <script src="assets/js/plugins/jquery.fixedonlater.min.js" type="text/javascript"></script>
    <script src="assets/js/plugins/jquery.hashloader.min.js" type="text/javascript"></script>
    <script src="assets/js/plugins/jquery.mixitup.min.js" type="text/javascript"></script>
    <script src="assets/js/plugins/jquery.nav.min.js" type="text/javascript"></script>
    <script src="assets/js/plugins/jquery.parallax-1.1.3.min.js" type="text/javascript"></script>
    <script src="assets/js/plugins/jquery.responsivevideos.min.js" type="text/javascript"></script>
    <script src="assets/js/plugins/jquery.scrollTo.min.js" type="text/javascript"></script>
    <script src="assets/js/plugins/jquery.tweet.min.js" type="text/javascript"></script>
    <script src="assets/js/plugins/jquery.tweetCarousel.min.js" type="text/javascript"></script>
    <script src="assets/js/main.js"></script>
    
    <!-- INITIALIZE -->
    <script src="assets/js/application/source/application.js" type="text/javascript"></script>
    
    
    <!-- GOOGLE ANALYTICS -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-44061294-1', 'gridelicious.net');
        ga('send', 'pageview');
    </script>
</body>
</html>
